---
interface Image {
  src: string;
  alt: string;
}

interface Props {
  images: Image[]; // Un tableau d'objets Image
  columns: number;  // Nombre de colonnes
}

const { images,columns }: Props = Astro.props;  // Utilisation des props dans le composant
//  lg:grid-cols-${columns}
const nbCols = `gallery box-border grid grid-cols-2 md:grid-cols-3 lg:grid-cols-${columns} md:my-8  gap-1`;

---

<!-- <div class="gallery grid  md:grid-flow-col"> -->
<div class={nbCols}>
  {images.map((image) => (
    <div class=" relative">
      <img 
      src={image.src} data-src={image.src} alt={image.alt} 
      class="thumbnail object-cover aspect-square rounded-md"
      />
      <p class="absolute bottom-0 right-0 text-xs font-code text-zinc-400 leading-none p-1">{image.alt}</p>
    </div>
  ))}
</div>
<style>
  .isInactive{
    display:none;
  }
</style>